.container {
  box-sizing: border-box;
  padding: 5px 100px;
  position: relative;
  height: 100vh;
  width: 90%;
}

.formGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem; 
  width: 60%;
  
}
.h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.label{
  font-size: 15px;
}

.input {
  width: 70%;
  border-radius: 6px;
  padding: 0.5em 0.2em;
  border: 2px solid #c2c2c2;
  margin-bottom: 5px;
}

.select {
  border-radius: 6px;
  padding: 0.5em 0.2em;
  border: 2px solid #c2c2c2;
  color: #adadad;
  position: absolute;
  left: 20.2vw;
  width: 150px;
 
}

.selectGroup {
  font-size: 1.5rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.cancel {
  background: #ffffff;
  border: 0.848485px solid #cecece;
  border-radius: 6.50784px;
  padding: 1em 2em;
  margin-left: 10px;
  color: #adadad;
  width: 150px;
}

.add {
  background: #ed5353;
  border-radius: 6.50784px;
  padding: 1em 2em;
  border: none;
  color: white;
  font-weight: 600;
  width: 150px;
  margin-left: 300px;
}

.rightPanel {
  width: 40%; 
  height: 100vh; 
  position: absolute;
  right: 0; 
  top: 0; 
  bottom: 0;
  background-image: url('/src/assets/create.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center; 
  
}

.rightPara{
  color: #fff;
  font-size: 40px;
  font-weight: bold;

}